<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ecom.mapper.AdminUsersMapper">
    <select id = "find" parameterType="AdminUser" resultType="AdminUser">
        select userId, userName, password, flag
        from adminUser
        where userName = #{userName} and password = #{password}
    </select>
</mapper>