*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*******Front Page******/
#top_bar {
    background-color: #346DCA;
    font-size: 14px;
}

#top_bar nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color: #e6e6e6;
}

#top_bar nav .hello-customer {
    height: 30px;
    line-height: 30px;
}

#top_bar nav .nav-links {
    display: flex;
}

#top_bar nav span{
    height: 30px;
    padding: 0 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

#top_bar nav span a{
    color: #e6e6e6;
    text-decoration: none;
}

#top_bar nav .nav-links span a:hover {
    color: white;
}

#banner
{
    width:1559px;
    height:510px;
    margin:10px auto;
}

#banner img{
    display: inline-block;
}

#menu
{
    width:1559px;
    margin:0 auto;
    background-color: #346DCA;
    overflow: hidden;
}

#menu ul
{
    list-style:none;
}

#menu ul li
{
    float: left;
}

#menu ul li a
{
    display:block;
    height:30px;
    line-height:30px;
    padding:0 5px;
    font-size:16px;
    color:#e6e6e6;
    text-decoration: none;
}

#menu ul li a:hover
{
    color:white;
}

#menu ul li a.on
{
    color:white;
    font-weight: bold;
}

/*******Container******/
#container
{
    width:1559px;
    margin:10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

#container ul
{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
}


#container ul li
{
    width: calc(20% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#container ul li img
{
    display:block;
    width: 100%;
    object-fit: cover;
}

#container ul li .info
{
    height:auto;
    border-top:1px solid white;
    font-size: 14px;
    padding: 5px;
}

#container ul li .info p
{
    margin:5px 0px;
}

#container ul li img {
    max-height: 300px;
    margin-bottom: 5px;
}




